#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
# end of Partition Table

#
# mbedTLS
#
CONFIG_MBEDTLS_HARDWARE_AES=n
CONFIG_MBEDTLS_HARDWARE_MPI=n
CONFIG_MBEDTLS_HARDWARE_SHA=n
CONFIG_MBEDTLS_CMAC_C=y
CONFIG_MBEDTLS_SSL_PROTO_DTLS=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECJPAKE=y
# end of TLS Key Exchange Methods

CONFIG_MBEDTLS_ECJPAKE_C=y
# end of mbedTLS

#
# Zboss
#
CONFIG_ZB_ENABLED=y
# CONFIG_ZB_ZCZR=y
CONFIG_ZB_ZED=y
CONFIG_ZB_RADIO_NATIVE=y

# end of Zboss
§
#
# IEEE802154
#
CONFIG_IEEE802154_RECEIVE_DONE_HANDLER=y
CONFIG_IEEE802154_RX_BUFFER_SIZE=100
# end of IEEE802154
# end of Component config

# CONFIG_GPIO_CTRL_FUNC_IN_IRAM=y
CONFIG_ESP_TIMER_SUPPORTS_ISR_DISPATCH_METHOD=y

CONFIG_LWIP_TCP_SYNMAXRTX=12
CONFIG_LWIP_TCP_MSS=1400
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=65534
CONFIG_LWIP_TCP_WND_DEFAULT=5840

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_WIFI_MANAGER_TASK_PRIORITY=5
CONFIG_WIFI_MANAGER_RETRY_TIMER=5000
CONFIG_WIFI_DEFAULT_STA_ONLY=1q
CONFIG_WIFI_DEFAULT_STA_POWER_SAVE=0
CONFIG_WIFI_MANAGER_AUTOSTART_AP=y
CONFIG_WIFI_MANAGER_MAX_RETRY_START_AP=3
CONFIG_WIFI_MANAGER_SHUTDOWN_AP_TIMER=60000
CONFIG_WEBAPP_LOCATION="/"
CONFIG_DEFAULT_AP_SSID="Design Light Five Fold"
CONFIG_DEFAULT_AP_SSID_HIDDEN=0
# CONFIG_WIFI_MANAGER_APPEND_MAC is not set
# CONFIG_USE_RANDOM_AP_PASSWORD is not set
CONFIG_DEFAULT_AP_PASSWORD=""
CONFIG_DEFAULT_AP_CHANNEL=1
CONFIG_MAX_AP_NUM=15
CONFIG_DEFAULT_AP_IP="10.10.0.1"
CONFIG_DEFAULT_AP_GATEWAY="10.10.0.1"
CONFIG_DEFAULT_AP_NETMASK="255.255.255.0"
CONFIG_DEFAULT_AP_MAX_CONNECTIONS=4
CONFIG_WIFI_MAX_AP_CONFIGS=10
CONFIG_DEFAULT_AP_BEACON_INTERVAL=100
CONFIG_HARDCODED_SSID=""
CONFIG_HARDCODED_PASSWORD=""
CONFIG_HTTP_APP_ENABLED=y
# CONFIG_WIFI_POWER_ADJUSTABLE is not set
CONFIG_WIFI_DEFAULT_STA_CONNECT_RETRY_CNT=0
CONFIG_WIFI_DEFAULT_STA_CONNECT_MIN_RSSI=-80
CONFIG_WIFI_MANAGER_INITIAL_RETRY_MS=2500
CONFIG_WIFI_MANAGER_MAX_RETRY_MS=15000
CONFIG_WIFI_MANAGER_RETRY_MULTIPLIER=2
CONFIG_WIFI_DEFAULT_AP_BANDWIDTH=1
CONFIG_WIFI_DEFAULT_STA_SCAN_METHOD=1
CONFIG_WIFI_DEFAULT_STA_SORT_METHOD=0
CONFIG_WIFI_DEFAULT_STA_RM_ENABLED=0
CONFIG_WIFI_DEFAULT_STA_BTM_ENABLED=0
CONFIG_WIFI_DEFAULT_STA_MBO_ENABLED=0
CONFIG_WIFI_DEFAULT_STA_FT_ENABLED=0
